@use './variables' as vars;
@use './mixins' as mixins;
@use './darkmode.scss';

body {
  font-family: Arial, sans-serif;
  background-color: vars.$primary-color;
  color: vars.$text-color;

  .container {
    @include mixins.flex-center;
  }
}


